body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* index.html */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem;
    
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 600;
    color: black;
    
}

.btn-container {
    margin-top: 3rem;
}

.main-button {
    margin-top: 2rem;
    text-align: center;
    background-color: rgb(53, 184, 245);
    border-radius: 8px;
    padding: 0.5rem 4rem;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

.main-button:first-child {
    margin-bottom: 2rem;
}

.main-button:active {
    background-color: orangered;
    color: white;
}

.main-button:hover {
    background-color: orangered;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

/* list.html */

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    
}

th,td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

th {
    font-weight: 700;
}

.edit-btn {
    background-color: rgb(53, 184, 245);
    border-radius: 5px;
    font-size: 14px;
    padding: 3px;
    font-weight: 600;
}

.add-btn {
    background-color: rgb(53, 184, 245);
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
}
.add-btn:hover {
    background-color: orangered;
    color: white;
    cursor: pointer;
}

/* make-paper.html */
.paper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.content {
    display: none;
}

.lunch {
    background-color: orange;
}
.lunch td {
    padding: 3px;
}
.dinner {
    background-color: orange;
}
.dinner td {
    padding: 3px;
}

.patient {
    background-color: tomato;
}


/* edit.html */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3rem;
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 8px;
}

.label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.label label {
    font-weight: normal;
}

#sort1 {
    background-color: rgb(53, 184, 245);
}

.submut-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.submit-btn {
    background-color: rgb(53, 184, 245);
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    margin-top: 1rem;
    border: none;
}